body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: 1vw 3vw;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
.intro {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align:justify;
    display: flex;
    flex-direction: column;
}
.intro-section {
    margin: 1vw;
    padding: 0.25vw;
    background-color: rgb(245, 233, 233);
    border-radius: 10px;
}
.deep-contai {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 20px;
}