body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(37, 98, 101, 0.906);
}
.sidebar {
    position: fixed;
    background-color: rgb(13, 12, 12);
    color: white;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 3%;
    justify-content: space-evenly;
    text-align: center;
}
.content {
    top: 0;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
button {
    width: 45%;
    height: 7vh;
    transition: 0.25s ease-in-out all;
    background-color: rgb(13, 12, 12);
    border: none;
    border-radius: 10px;
    color: white;
}
button:hover {
    transform: scale(1.3);
    background-color:rgb(6, 24, 41);
}
.demuc {
    background-color: rgb(134, 228, 228);
    border-radius: 10px;
    border:rgb(19, 136, 245);
    transition: 0.5s ease-in-out all;
    width: 50vw;
    text-align: left;
    padding: 10px;
    margin: 20px;
}
.demuc:hover {
    transform: translateY(-5px);
}
.author {
    text-align: right;
    font-style: italic;      /* nghiêng nhẹ cho sang */
    font-size: 0.9em;        /* nhỏ hơn nội dung chính */
    color: #555;             /* màu xám nhạt hơn chữ chính */
    margin-top: -8px;        /* kéo lên gần câu nói */
    margin-bottom: 20px;     /* cách câu tiếp theo một chút */
}
