body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    background-color: #f7f7f7;
}

.sidebar {
    width: 20vw;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar h2 {
    margin-bottom: 15px;
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    width: 100%;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 16px;
    transition: 0.3s;
}
.sidebar a:hover{
    transform: scale(1.05);
}

.sidebar a:hover {
    color: #1abc9c;
}

.content {
    margin-left: 250px;
    padding: 30px;
    line-height: 1.6;
    color: #333;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    border-bottom: 3px solid #1abc9c;
    padding-bottom: 8px;
}

p {
    text-align: justify;
    margin: 10px 0;
}

div.bai {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
div.bai:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}
.mau{
    text-align: center;
}